
#wrapper {
    width: 946px;
	margin: 0 auto;
}

#header_tools_wrap {
    float: left;
	width: 945px;
	height: 22px;
	border-bottom: 1px solid #FFA042;
}

#header_tools_time {
    float: left;
	width: 115px;
	font-size: 10px;
}

#header_tools_change {
    float: right;
}

#header_tools_change a {
    text-decoration: none;
	color: #000000;
	font-size: 15px;
}

#header_tools_change_set{
    padding-left: 22px;
	background-image: url(img/set.png);
	background-repeat: no-repeat;
	background-position: left center;
}

/**  header begin  **/

#header {
    float: left;
    width: 945px;
    height: 120px;
}

#header_logo {
    float: left;
}

#header_date {
    float: right;
	margin-top: 10px;
	font-size: 13px;
}

#header_search {
    float: right;
    width: 446px;
    height: 68px;
	margin-top: 18px;
}

#header_search input {
    float: left;
    width: 336px;
	line-height: 30px;
	border: 1px solid #FFA042;
}

#header_search button {
    float: right;
	width: 100px;
	height: 34px;
	border: none;
	background: url("img/button.png") no-repeat;
}

/**  header end  **/


/**  body begin  **/

#body {
    float: left;
	width: 945px;
	margin-top: 0px;
}

/**  body_sidebar begin  **/

#body_sidebar {
    float: left;
	width: 193px;
	padding: 0px;
	margin: 0px;
}

#body_sidebar_hotOuterNet, #body_sidebar_hotSort,
#body_sidebar_commonTools {
    float: left;
	width: 193px;
	border: 1px solid #FFA042;
	margin-bottom: 10px;
}

#body_sidebar h4 {
    float: left;
	width: 188px;
	margin: 0px;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 6px;
	background-color: #FFA042;
	color: #FFFFFF;
	font-size: 0.9em;
}

#body_sidebar table {
    width: 186px;
    margin: 3px;
    border-bottom: 1px solid #FFE4CA; 	
}

#body_sidebar th {
    color: #FFA042;
	font-size: 0.9em;
	width: 20px;
}

#body_sidebar td {
    padding-top: 3px;
	padding-bottom: 3px;
}

#body_sidebar a {
    color: #000000;
	text-decoration: none;
	font-size: 0.9em;
}

#body_sidebar_hotSort th {
    text-align: left;
}

/**  body_sidebar end  **/

/**  body_content begin  **/

#body_content {
    float: right;
    width: 737px;
}


#body_content a {
    color: #000000;
	text-decoration: none;
	font-size: 0.9em;
}

#color1 a {
    display: block;
    color: #2828FF;
}

#color2 a {
    color: #FF0000;
}

#body_content_hotWebsite, #body_content_adver,
#body_content_popWebsite {
    float: left;
    width: 736px;
	border: 1px solid #FFA042;
}

#body_content_hotWebsite_title {
    float: left;
	width: 736px;
	height: 30px;
	background-color: #FFA042;
}

#body_content_hotWebsite_title h4 {
    float: left;
	width: 82px;
	margin-top: 2px;
	margin-top: 2px;
	margin-left: 30px;
	color: #66B3FF;
	font-size: 1.2em;
	font-weight: bold;
	text-shadow:1px 1px 1px #FFFFFF;
}

#body_content_hotWebsite_search {
    float: right;
	margin-top: 4px;
	margin-right: 19px;
}

#body_content_hotWebsite img {
    float: left;
    margin-left: 19px;
	margin-top: 10px;
}

#body_content_hotWebsite ul {
    float: left;
    margin: 0 6px;
	border-bottom: 1px solid #FFE4CA;
	list-style-type: none;
}

#body_content_hotWebsite li {
    float: left;
    width: 130px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#l1 {
    background:url(img/1.png) no-repeat left center;
	padding-left: 17px;
}

#l2 {
    background:url(img/2.png) no-repeat left center;
	padding-left: 17px;
}

#l3 {
    background:url(img/3.png) no-repeat left center;
	padding-left: 17px;
}

#l4 {
    background:url(img/4.png) no-repeat left center;
	padding-left: 17px;
}

#l5 {
    background:url(img/5.png) no-repeat left center;
	padding-left: 17px;
}


#l6 {
    background:url(img/6.png) no-repeat left center;
	padding-left: 17px;
}

#l7 {
    background:url(img/7.png) no-repeat left center;
	padding-left: 17px;
}

#l8 {
    background:url(img/8.png) no-repeat left center;
	padding-left: 17px;
}



#body_content_adver {
    margin: 10px 0;
}

#body_content_popWebsite h4 {
    float: left;
	width: 691px;
	height: 30px;
	margin-top: 0;
	margin-bottom: 0;
	background: #FFA042 url(img/title.png) no-repeat left center;
	padding-top: 2px;
	padding-left: 45px;
	color: #66B3FF;
	font-size: 1.2em;
	font-weight: bold;
	text-shadow:1px 1px 1px #FFFFFF;
}

#body_content_popWebsite ul {
    float: left;
	width: 696px;
	height: 32px;
	margin: 0px;
	list-style-type: none;
}

#body_content_popWebsite li {
    float: left;
	width: 95px;
	margin-top: 8px;
	margin-bottom: 8px;
}

.color {
    background-color: #F0F0F0;
}

.title{
    font-weight: bold;
	color: #FFA042;
} 
/**  body_content end  **/

/**  body end  **/

#footer {
    float: left;
	width: 945px;
	height: 125px;
	margin-top: 10px;
	border-top: 1px solid #FFA042;
}

#footer ul {
    float: left;
	margin-top: 22px;
	margin-left: 307px;
	margin-bottom: 0;
	list-style-type: none;
}

#footer li {
    float: left;
	margin-top: 5px;
	margin-bottom: 5px;
}

#footer ul a {
    text-decoration: none;
	color: #000000;
	font-size: 0.9em;
}

#footer_state {
    float: left;
	clear: left;
	margin-top: 10px;
	margin-left: 240px;
	font-size: 0.8em;
}

#footer_site {
    float: left;
	margin-top: 10px;
	margin-left: 196px;
	font-size: 0.8em;
}

/**  footer begin  **/



/**  footer end  **/
